<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-accordion=1, shrink-to-fit=no">
		<meta name="author" content="MazeR">
		<title>Json</title>
		<!-- development version, includes helpful console warnings -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<!-- CDNJS :: Sortable (https://cdnjs.com/) -->
		<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
		<!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<style>
			.footer {
				background-color: #e9ecef;
				padding-top: 4rem;
				padding-bottom: 4rem;
				margin-top: 2rem;
			}
			.uploadLabel {
				border-width: medium;
				border-color: gray;
				border-style: dashed;
				border-radius: 10px;
				padding: 20px;
			}
		</style>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-8">
						<h1 class="display-4">Questionnaire Core Generator</h1>
						<p class="lead">A json generator that follow specific format.</p>
					</div>
					<label for="jsonUpload" class="uploadLabel">
						<div class="col">
							open json file
							<input type="file" accept="text/json" class="form-control-file" id="jsonUpload" onchange="json.loadJson(this.files[0])">
						</div>
					</label>
				</div>
			</div>
		</div>
		<div class="container" id="root">
			<div class="row">
				<div class="col-12">
					<h1>說明區</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<a onclick="accordion.binding(this)" class="btn btn-primary"><i class="material-icons">exposure</i></a>
							問卷說明區
						</div>
						<div class="card-body">
							<div class="form-row form-group">
								<div class="col">
									<textarea v-model="description" placeholder="提前說明" class="form-control" rows="5"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-12">
					<h1>問題區</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<draggable v-model="rank1List" handle=".handleRank1">
						<div class="card" v-for="(rank1, rank1Index) in rank1List">
							<div class="card-header">
								<a onclick="accordion.binding(this)" class="btn btn-primary"><i class="material-icons">exposure</i></a>
								{{ rank1Index + 1 }} - {{rank1.name || "未設定區間名稱"}}
								<div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
									<a @click="copyRank1(rank1Index)" class="btn btn-info"><i class="material-icons">file_copy</i></a>
									<a v-if="isCopy1" @click="replaceRank1(rank1Index)" class="btn btn-success"><i class="material-icons"></i>reply</i></a>
									<a class="btn btn-primary handleRank1"><i class="material-icons">swap_vert</i></a>
									<a @click="deleteRank1(rank1Index)" class="btn btn-danger"><i class="material-icons">close</i></a>
								</div>
							</div>
							<div class="card-body">
								<div class="form-row form-group">
									<div class="col">
										<label>名稱</label>
										<input type="text" class="form-control" placeholder="區間名稱" v-model="rank1.name">
									</div>
									<div class="col">
										<label>代號</label>
										<input type="text" class="form-control idElement rankIdElement" placeholder="id" v-model="rank1.id">
									</div>
									<div class="col">
										<label>測試分數</label>
										<input type="number" class="form-control" placeholder="id" v-model.number="rank1.testScore">
									</div>
								</div>
								<div class="row justify-content-end">
									<div class="col-11">
										<draggable v-model="rank1.rank2List" handle=".handleRank2">
											<div class="card" v-for="(rank2, rank2Index) in rank1.rank2List">
												<div class="card-header">
													<a onclick="accordion.binding(this)" class="btn btn-primary">－</a>
													{{ rank2Index + 1 }} - {{rank2.title || "未設定大標題"}}
													<div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
														<a @click="copyRank2(rank1Index, rank2Index)" class="btn btn-info">copy</a>
														<a v-if="isCopy2" @click="replaceRank2(rank1Index, rank2Index)" class="btn btn-success">replace</a>
														<a class="btn btn-primary handleRank2">move</a>
														<a @click="deleteRank2(rank1Index, rank2Index)" class="btn btn-danger float-right">Ｘ</a>
													</div>
												</div>
												<div class="card-body">
													<div class="form-row form-group">
														<div class="col">
															<label>大標題</label>
															<input type="text" class="form-control" placeholder="中文標題" v-model="rank2.title">
														</div>
													</div>
													<div class="row justify-content-end">
														<div class="col-10">
															<draggable v-model="rank2.rank3List" handle=".handleRank3">
																<div class="card" v-for="(rank3, rank3Index) in rank2.rank3List">
																	<div class="card-header">
																		<a onclick="accordion.binding(this)" class="btn btn-primary">－</a>
																		{{ rank3Index + 1 }} - {{rank3.id || "未設定代號"}} - {{rank3.question || "未設定問題"}}
																		<div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
																			<a @click="copyRank3(rank1Index, rank2Index, rank3Index)" class="btn btn-info">copy</a>
																			<a v-if="isCopy3" @click="replaceRank3(rank1Index, rank2Index, rank3Index)" class="btn btn-success">replace</a>
																			<a class="btn btn-primary handleRank3">move</a>
																			<a @click="deleteRank3(rank1Index, rank2Index, rank3Index)" class="btn btn-danger">Ｘ</a>
																		</div>
																	</div>
																	<div class="card-body">
																		<div class="form-row form-group">
																			<div class="col-10">
																				<label>標題</label>
																				<input type="text" class="form-control" placeholder="問題" v-model="rank3.question">
																			</div>
																			<div class="col">
																				<label>代號</label>
																				<input type="text" class="form-control idElement" placeholder="id" v-model="rank3.id">
																			</div>
																		</div>
																		<div class="form-row form-group">
																			<div class="col">
																				<label>依賴題代號</label>
																				<input type="text" class="form-control dependIdElemanet" placeholder="依賴題代號" v-model="rank3.dependId">
																			</div>
																			<div class="col">
																				<label>依賴題分數</label>
																				<input type="number" class="form-control" placeholder="score" v-model.number="rank3.dependScore">
																			</div>
																			<div class="col">
																				<label>自動分數</label>
																				<input type="number" class="form-control" placeholder="score" v-model.number="rank3.autoScore">
																			</div>
																		</div>
																		<div class="form-row form-group justify-content-end">
																			<div class="col-8">
																				<label>選項</label>
																			</div>
																			<div class="col-2">
																				<label>分數</label>
																			</div>
																			<div class="col-1"></div>
																		</div>
																		<div class="form-row form-group justify-content-end" v-for="(rank4, rank4Index) in rank3.rank4List">
																			<div class="col-8">
																				<input type="text" class="form-control" placeholder="選項" v-model="rank4.option">
																			</div>
																			<div class="col-2">
																				<input type="number" class="form-control" placeholder="score" v-model.number="rank4.score">
																			</div>
																			<div class="col-1">
																				<a @click="deleteRank4(rank1Index, rank2Index, rank3Index, rank4Index)" class="btn btn-danger float-right">Ｘ</a>
																			</div>
																		</div>
																		<div class="row justify-content-end">
																			<div class="col-11">
																				<a @click="addRank4(rank1Index, rank2Index, rank3Index)" class="btn btn-primary btn-block">＋</a>
																			</div>
																		</div>
																	</div>
																</div>
															</draggable>
														</div>
													</div>
													<div class="row justify-content-end">
														<div class="col-10">
															<a @click="addRank3(rank1Index, rank2Index)" class="btn btn-primary btn-block">＋</a>
														</div>
													</div>
												</div>
											</div>
										</draggable>
									</div>
								</div>
								<div class="row justify-content-end">
									<div class="col-11">
										<a @click="addRank2(rank1Index)" class="btn btn-primary btn-block">＋</a>
									</div>
								</div>
							</div>
						</div>	
					</draggable>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a @click="addRank1" class="btn btn-primary btn-block">＋</a>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-12">
					<h1>分數區</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<draggable v-model="scoreList" handle=".handleScore">
						<div class="card" v-for="(score, scoreIndex) in scoreList">
							<div class="card-header">
								<a onclick="accordion.binding(this)" class="btn btn-primary"><i class="material-icons">exposure</i></a>
								{{ scoreIndex + 1 }} - {{score.id || "未設定代號"}}
								<div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
									<a class="btn btn-primary handleScore"><i class="material-icons">swap_vert</i></a>
									<a @click="deleteScore(scoreIndex)" class="btn btn-danger"><i class="material-icons">close</i></a>
								</div>
							</div>
							<div class="card-body">
								<form>
									<div class="form-group form-row">
										<div class="col">
											<label>代號</label>
											<input type="text" class="form-control" placeholder="代號" v-model="score.id">
											<label>測試分數</label>
											<input type="text" class="form-control" placeholder="代號" v-model.number="score.testScore">
										</div>
										<div class="col">
											<label>計算程式<a @click="runScore(scoreIndex)" class="btn btn-danger">test</a></label>
											<textarea v-model="score.luaCode" placeholder="lua code" class="form-control" rows="3"></textarea>
										</div>
									</div>
								</form>
							</div>
						</div>
					</draggable>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a @click="addScore" class="btn btn-primary btn-block">＋</a>
				</div>
			</div>
		</div>
		<div class="container-fluid footer">
			<div class="container">
				<div class="row">
					<div class="col">
						<form class="form-inline float-right">
							<input class="form-control mr-sm-2" id="outputName" type="text" value="output" aria-label="Search">
							<a onclick="json.outputJson(checkId)" class="btn btn-primary">output</a>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script src="./uuid.js"></script>
		<script src="./accordion.js"></script>
		<script src="./limitRemove.js"></script>
		<script src="./fengari-web.js"></script>
		<script src="./luaInterpreter.js"></script>
		<script src="./json.js"></script>
		<script>
			let copyTempRank2 = getDefaultRank2Json();
			let copyTempRank3 = getDefaultRank3Json();
			let copyTempRank4 = getDefaultRank4Json();

			function getDefaultRank4Json() {
				return {
					option: "",
					score: 0,
				};
			}
			function getDefaultRank3Json() {
				return {
					question: "",
					id: uuid.uuidGenerator(),
					dependId: "",
					dependScore: 0,
					autoScore: 0,
					rank4List: [getDefaultRank4Json()]
				};
			}
			function getDefaultRank2Json() {
				return {
					title: "",
					rank3List: [getDefaultRank3Json()]
				};
			}
			function getDefaultRank1Json() {
				return {
					name: "",
					testScore: 0,
					id: uuid.uuidGenerator(),
					rank2List: [getDefaultRank2Json()]
				};
			}
			function getDefaultScoreJson() {
				return {
					id: uuid.uuidGenerator(),
					luaCode: "",
					testScore: 0
				};
			}

			let rootVM = new Vue({
				el: "#root",
				data: {
					isCopy1: false,
					isCopy2: false,
					isCopy3: false,
					description: "",
					rank1List: [
						getDefaultRank1Json()
					],
					scoreList: []
				},
				methods: {
					getJson: function() {
						return JSON.stringify(this.$data);
					},
					setJson: function(json) {
						this.$set(this, "rank1List", JSON.parse(json).rank1List);
						this.$nextTick(() => checkId());
					},
    				addRank1: function() {
      					this.rank1List.push(getDefaultRank1Json());
   					},
					addRank2: function(rank1Index) {
      					this.rank1List[
							rank1Index
						].rank2List.push(getDefaultRank2Json());
   					},
					addRank3: function(rank1Index, rank2Index) {
						this.rank1List[
							rank1Index
						].rank2List[
							rank2Index
						].rank3List.push(getDefaultRank3Json());
   					},
					addRank4: function(rank1Index, rank2Index, rank3Index) {
						this.rank1List[
							rank1Index
						].rank2List[
							rank2Index
						].rank3List[
							rank3Index
						].rank4List.push(getDefaultRank4Json());
   					},
					copyRank3: function(rank1Index, rank2Index, rank3Index) {
						copyTempRank4 = JSON.stringify(this.rank1List[
							rank1Index
						].rank2List[
							rank2Index
						].rank3List[
							rank3Index
						].rank4List);
						this.isCopy3 = true;
					},
					replaceRank3: function(rank1Index, rank2Index, rank3Index) {
						replaceData = JSON.parse(copyTempRank4);
						this.$set(this.rank1List[
							rank1Index
						].rank2List[
							rank2Index
						].rank3List[
							rank3Index
						], "rank4List", replaceData);
						this.isCopy3 = false;
					},
					copyRank2: function(rank1Index, rank2Index) {
						copyTempRank3 = JSON.stringify(this.rank1List[
							rank1Index
						].rank2List[
							rank2Index
						].rank3List);
						this.isCopy2 = true;
					},
					replaceRank2: function(rank1Index, rank2Index) {
						replaceData = JSON.parse(copyTempRank3);
						replaceData.map((item) => {
							item.id = uuid.uuidGenerator(),
							item.dependId = "";
						});
						this.$set(this.rank1List[
							rank1Index
						].rank2List[
							rank2Index
						], "rank3List", replaceData);
						this.isCopy2 = false;
					},
					copyRank1: function(rank1Index) {
						copyTempRank2 = JSON.stringify(this.rank1List[
							rank1Index
						].rank2List);
						this.isCopy1 = true;
					},
					replaceRank1: function(rank1Index) {
						replaceData = JSON.parse(copyTempRank2);
						replaceData.map((item) => {
							item.rank3List.map((rank3Item) => {
								rank3Item.id = uuid.uuidGenerator(),
								rank3Item.dependId = "";
							});
						});
						this.$set(this.rank1List[
							rank1Index
						], "rank2List", replaceData);
						this.isCopy1 = false;
					},
					deleteRank1: function(rank1Index) {
						this.rank1List.limitRemove(rank1Index);
					},
					deleteRank2: function(rank1Index, rank2Index) {
						this.rank1List[
							rank1Index
						].rank2List.limitRemove(rank2Index);
					},
					deleteRank3: function(rank1Index, rank2Index, rank3Index) {
						this.rank1List[
							rank1Index
						].rank2List[
							rank2Index
						].rank3List.limitRemove(rank3Index);
					},
					deleteRank4: function(rank1Index, rank2Index, rank3Index, rank4Index) {
						this.rank1List[
							rank1Index
						].rank2List[
							rank2Index
						].rank3List[
							rank3Index
						].rank4List.limitRemove(rank4Index);
					},
					addScore: function() {
						this.scoreList.push(getDefaultScoreJson());
					},
					deleteScore: function(scoreIndex) {
						this.scoreList.splice(scoreIndex, 1);
					},
					getVarCode: function () {
						let varCode = "";
						rootVM.rank1List.forEach(rank1Element => {
							rank1Element.rank2List.forEach(rank2Element => {
								rank2Element.rank3List.forEach(rank3Element => {
									varCode += rank3Element.id + " = " + rank1Element.testScore + "\n";
								});
							});
						});
						return varCode;
					},
					runScore: function(scoreIndex) {
						let result = luaInterpreter.runCode (
							this.getVarCode() + this.scoreList[scoreIndex].luaCode, 
							this.scoreList[scoreIndex].id
						);
						this.scoreList[scoreIndex].testScore = result.result;
					}
  				}
			});

			function showError(errorElemanet, message) {
				alert(message);
				let parent = errorElemanet;
				while (parent.classList) {
					if (parent.classList.contains("card-body")) {
						parent.style.display = "block";
					}
					parent = parent.parentNode;
				}
				errorElemanet.scrollIntoView();
				errorElemanet.focus();
				errorElemanet.classList.add("is-invalid");
			}

			function checkId() {
				let hash = {};
				let rank3Hash = {};
				idElemanets = document.getElementsByClassName("idElement");
				let length = idElemanets.length;
				for (let index = 0; index < length; index++) {
					if (hash[idElemanets[index].value] || idElemanets[index].value === "") {
						showError(idElemanets[index], "題目代號重複或空白");
						return false;
					}
					if (!/^[_A-Za-z0-9]+$/.test(idElemanets[index].value)) {
						showError(idElemanets[index], "題目代號只能是英文與數字");
						return false;
					}
					idElemanets[index].classList.remove("is-invalid");
					hash[idElemanets[index].value] = true;
					if (!idElemanets[index].classList.contains("rankIdElement")) {
						rank3Hash[idElemanets[index].value] = true;
					}
				}
				idElemanets = document.getElementsByClassName("dependIdElemanet");
				length = idElemanets.length;
				for (let index = 0; index < length; index++) {
					if (!rank3Hash[idElemanets[index].value] && idElemanets[index].value !== "") {
						showError(idElemanets[index], "依賴題目代號不存在");
						return false;
					}
					let ownId = idElemanets[index].parentNode.parentNode.parentNode.getElementsByClassName("idElement")[0].value;
					if (ownId === idElemanets[index].value) {
						showError(idElemanets[index], "依賴題目不得為自己");
						return false;
					}
					idElemanets[index].classList.remove("is-invalid");
				}
				return true;
			}
			
		</script>
	</body>
</html>
